/*  */

.main {
  height: max-content;
  background-color: #85ace6;

  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 1300px; */
  /* min-width: 1300px; */
  height: 100vh;
  height: 1700px;
}

.main-wrapper {
  margin-top: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1120px) {
  .main-folder {
    flex-direction: column !important;
  }
}
