/*  */

.main {
  height: max-content;
  background-color: #85ace6;

  display: flex;
  align-items: center;
  justify-content: center;

  /* #bug agar height: 100vh; bersam responsivda to'liq ko'rinmiy qovotii  */

  min-height: 100vh;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-folder {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1120px) {
  .main-folder {
    flex-direction: column !important;
  }
}

@media (max-width: 620px) {
  .main-wrapper {
    flex-direction: column;
  }
}
