/*  */
.week-folder {
  background-image: url("../../assets/images/Week-Weather.png");
  background-repeat: no-repeat;
  border-radius: 7px;
  height: 170px;
  margin-top: 30px;
}
.week-name-text,
.week-text > span {
  color: #c2bff4;
}
.week-text {
  color: #fff;
}
