/*  */

.temp {
  background-image: url("../../assets/images/TemperatureImg.png");
  background-repeat: no-repeat;
  background-size: cover;

  width: 480px;
  height: 480px;
  border-radius: 15px;

  position: relative;
}

.temp-text-folder {
  position: absolute;
  left: 39%;
  top: 30%;
}

.temp-text {
  font-size: 80px;
  display: flex;
  color: #fff;
}
.temp-text > span {
  font-size: 60px;
}
.temp-sec-text {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 90%;
  left: 12%;
}
.temp-sec-text > span {
  color: #c2bff4;
}
.location-wrap {
  position: absolute;
  top: 30px;
  right: 35px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.location-text {
  color: #9d99e4;
}
.temp-cloud-img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50px, -58px);
  transition: transform 0.3s ease;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  /* width: 100%; */
  position: absolute;
  bottom: 12px;
  gap: 20px;
  left: 40px;
}
.wind-wrap {
  width: 120px;
  border-radius: 5px;
  background-image: url("../../assets/images/wind-back.png");
  display: flex;
}

.wind-text {
  color: #fff;
}

.humidity-wrap {
  background-image: url("../../assets/images/wind-back.png");
  border-radius: 5px;
  width: 120px;
}
.rain-wrap {
  background-image: url("../../assets/images/wind-back.png");
  border-radius: 5px;
  width: 120px;
}

.input-wrap {
  position: absolute;
  top: 85px;
  left: 20%;
  gap: 7px;

  display: flex;
  align-items: center;
}
.search-input {
  border-radius: 30px;
  padding: 10px 15px;
  width: 250px;
  outline: none;
}
.search-btn {
  background-color: #fff;
  border-radius: 50%;
  padding: 7px;
  outline: none;
}

/* .search-img {
  color: #fff;
  background-color: #fff;
} */

/* Responsiv design */

@media (max-width: 1120px) {
  .temp {
    margin-top: 100px;
  }
}

@media (max-width: 550px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 37%;
  }
  .temp {
    max-width: 480px;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 420px) {
  .wrapper {
    left: 35%;
  }
  .input-wrap {
    left: 10%;
  }
}
@media (max-width: 370px) {
  .input-wrap {
    left: 6%;
  }
}
@media (max-width: 340px) {
  .search-input {
    width: 230px;
  }
}
